extends partial/default.jade
block content
  .container.u-textCenter.u-padTall-4
    h2 Why eVoucher MORE
    p.u-textLead eVoucher MORE is a more efficient, economical & simpler way for your voucher needs
  .container
    .Grid.Grid--withGutter.Grid--equalHeight
      .Grid-cell.u-md-size1of2.u-lg-size1of2
        .u-sm-block.u-table.u-sm-textCenter
          .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
            img.icon-med(src="asset/img/coin2.png", alt="")
          .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
            h4 No redeem, no pay!
            p Charging is based only on the eVoucher that has been successfully claimed at merchants. 
      .Grid-cell.u-md-size1of2.u-lg-size1of2
        .u-sm-block.u-table.u-sm-textCenter
          .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
            img.icon-med(src="asset/img/mail.png", alt="")
          .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
            h4 Instant distribution
            p eVoucher can be distributed instantly via SMS, Mobile App & Email.
      .Grid-cell.u-md-size1of2.u-lg-size1of2
        .u-sm-block.u-table.u-sm-textCenter
          .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
            img.icon-med(src="asset/img/laptop2.png", alt="")
          .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
            h4 Real-time reporting
            p Voucher transaction will be recorded in real time on the web report
      .Grid-cell.u-md-size1of2.u-lg-size1of2
        .u-sm-block.u-table.u-sm-textCenter
          .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
            img.icon-med(src="asset/img/indo.png", alt="")
          .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
            h4 Nation-wide merchant coverage
            p There are more than 22,000 merchant stores accepting eVoucher MORE across Indonesia.
