extends partial/default.jade
block content
  .Hero
    .container
      .Grid
        .Grid-cell.u-size1of2
        
        .Grid-cell.u-size1of2
        
  section.u-padTall-6.u-borBot
    .container.container--small.u-textCenter.u-marBot-6
      h2 What is eVoucher MORE
      p.u-textLead eVoucher MORE is your electronic voucher solution. If your business have been using physical vouchers as a gift for your programs, sure you will know how it could become a hassle to manage it. From secure keeping, physical delivery to manual report for analysis. This is why eVoucher MORE will come in handy.
    .container
      .Grid.Grid--withGutter.Grid--equalHeight
        .Grid-cell.u-lg-size1of3
          .u-textCenter
            img.icon-med(src="asset/img/coin2.png", alt="")
            h4 Distribute your voucher instantly via SMS or Email. 
        .Grid-cell.u-lg-size1of3
          .u-textCenter
            img.icon-med(src="asset/img/indo.png", alt="")
            h4 Redeem at the closest merchant outlet across Indonesia.
        .Grid-cell.u-lg-size1of3
          .u-textCenter
            img.icon-med(src="asset/img/laptop2.png", alt="")
            h4 See the voucher transaction in real-time on the web report
  
  section.u-padTall-6.u-borBot
    .container.u-textCenter.u-marBot-6
      h2 Why eVoucher MORE
      p.u-textLead eVoucher MORE is a more efficient, economical & simpler way for your voucher needs
    .container
      .Grid.Grid--withGutter.Grid--equalHeight
        .Grid-cell.u-md-size1of2.u-lg-size1of2
          .u-sm-block.u-table.u-sm-textCenter
            .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
              img.icon-med(src="asset/img/coin2.png", alt="")
            .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
              h4 No redeem, no pay!
              p Charging is based only on the eVoucher that has been successfully claimed at merchants. 
        .Grid-cell.u-md-size1of2.u-lg-size1of2
          .u-sm-block.u-table.u-sm-textCenter
            .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
              img.icon-med(src="asset/img/mail.png", alt="")
            .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
              h4 Instant distribution
              p eVoucher can be distributed instantly via SMS, Mobile App & Email.
        .Grid-cell.u-md-size1of2.u-lg-size1of2
          .u-sm-block.u-table.u-sm-textCenter
            .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
              img.icon-med(src="asset/img/laptop2.png", alt="")
            .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
              h4 Real-time reporting
              p Voucher transaction will be recorded in real time on the web report
        .Grid-cell.u-md-size1of2.u-lg-size1of2
          .u-sm-block.u-table.u-sm-textCenter
            .u-sm-block.u-tableCell.u-md-size1of5.u-alignTop
              img.icon-med(src="asset/img/indo.png", alt="")
            .u-sm-block.u-tableCell.u-md-size4of5.u-alignTop.u-md-padLeft-2
              h4 Nation-wide merchant coverage
              p There are more than 22,000 merchant stores accepting eVoucher MORE across Indonesia.
