extends partial/default.jade
include partial/merchantthumb.jade

block content
  #React


//- block content
//-   section.bg-blue.u-padAll-1
//-     .container.u-padTall-4
//-       .u-textCenter
//-         h2.u-textWeightNormal.u-textWhite Thank you for choosing ACC<br>Enjoy our treat
//-     .div
//-       .Card.u-padAll-1
//-
//-             .Grid
//-               .Grid-cell.u-lg-size3of5
//-                 .u-padAll-half
//-                   h6.mini.u-textWeightNormal Voucher Code
//-                   p.u-textWeightBold 45667-67478-89009
//-               .Grid-cell.u-lg-size3of5
//-                 .u-padAll-half
//-                   h6.mini.u-textWeightNormal Saldo Balance
//-                   p.u-textWeightBold Rp 100,000.-
//-                   //-p
//-                     a(href="#") (Show history)
//-               .Grid-cell.u-size1of2.u-lg-size1of5
//-                 .u-padAll-half
//-                   h6.mini.u-textWeightNormal Expired date
//-                   p.u-textWeightBold 30 Juni 2016
//-               .Grid-cell.u-size1of2.u-lg-size1of5
//-                 .u-padAll-half
//-                   h6.mini.u-textWeightNormal Card Status
//-                   p.u-textWeightBold Card Active
