extends partial/default.jade
block content
  .container.container--small.u-textCenter.u-padTall-6
    h2 What is eVoucher MORE
    p.u-textLead eVoucher MORE is your electronic voucher solution. If your business have been using physical vouchers as a gift for your programs, sure you will know how it could become a hassle to manage it. From secure keeping, physical delivery to manual report for analysis. This is why eVoucher MORE will come in handy.
  .container
    .Grid.Grid--withGutter.Grid--alignMiddle
      .Grid-cell.u-md-size1of2
        img.img-r(src="http://placehold.it/480x480", alt="")
      .Grid-cell.u-md-size1of2
        .u-sm-textCenter
          p Distribute your voucher instantly via SMS or Email
  .container
    .Grid.Grid--withGutter.Grid--alignMiddle.u-flexRowReverse
      .Grid-cell.u-md-size1of2
        img.img-r(src="http://placehold.it/480x480", alt="")
      .Grid-cell.u-md-size1of2
        .u-sm-textCenter
          p Redeem at the closest merchant outlet across Indonesia
  .container
    .Grid.Grid--withGutter.Grid--alignMiddle
      .Grid-cell.u-md-size1of2
        img.img-r(src="http://placehold.it/480x480", alt="")
      .Grid-cell.u-md-size1of2
        .u-sm-textCenter
          p See the voucher transaction in real-time on the web report
