footer.MainFooter.u-padTall-4
  .container
  .container
    nav.BottomNav.u-textCenter.u-padTall-2
      a(href="") Home
      a(href="") About
      a(href="") Contact Us
      a(href="") Career
    nav.Social.u-textCenter
      a.Button.ButtonRound(href="")
        i.icon
      a.Button.ButtonRound(href="")
        i.icon
      a.Button.ButtonRound(href="")
        i.icon
      a.Button.ButtonRound(href="")
        i.icon
  .container.u-textCenter
    p Copyright 2016 © - inTouch All Right Reserved
