header.MainHeader
  .u-padSide-2
    .u-flex.u-flexAlignItemsCenter.u-flexJustifyBetween

        .Logo
          img(src="asset/img/logo.png", alt="")

        .u-flex
          nav.MainNav.u-sm-hidden
            a.Button.Button--trns(href="index.html") Home
            a.Button.Button--trns(href="what.html") What is More
            a.Button.Button--trns(href="feature.html") Features
            a.Button.Button--trns(href="") About Us
            a.Button.Button--trns(href="") Contact Us
          nav.action
            a.Button.Button-primary(href="voucher.html")
              i.icon.icon-login
              span login
            a.Button.Button-primary.u-lg-hidden.u-sm-marLeft-half(href="")
              i.icon.icon-login
              span login
          
