header.MainHeader
  .u-padSide-1
    .u-flex.u-flexAlignItemsCenter.u-flexJustifyBetween

        .Logo
          img(src="asset/img/logo.png", alt="")

        .u-flex
          nav.MainNav.u-sm-hidden
            a.Button.Button-trns(href="home.html") Home
            a.Button.Button-trns(href="") Product
            a.Button.Button-trns(href="") Features
            a.Button.Button-trns(href="") About Us
            a.Button.Button-trns(href="") Contact Us
          nav.action
            a.Button.Button-primary(href="")
              i.icon.icon-login
              span login
            a.Button.Button-primary.u-lg-hidden.u-sm-marLeft-half(href="")
              i.icon.icon-login
              span login
          
