.Button {
  border-radius: 4px;
}

.Button--small {
  font-size: 0.75rem;
}

.Button--trns {
  border: 1px solid transparent;
}

.Button--trns:hover {
  background-color: teal;
  color: #fff;
}

.ButtonRound {
  height: 56px;
  width: 56px;
  border-radius: 500px;
}

.Button--full {
  width: 100%;
}

.Button--green {
  background-color: #8BC34A;
  color: #fff;
}
