
.u-padTall-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-padTall-4 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.u-padTall-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}


.u-padLeft-1 {
  padding-left: 0.5rem;
}

.u-padSide-0.5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/**
 * Responsive Utilities
 */

/* Small Viewport */

@media (--sm-viewport) {
  .u-sm-marLeft-half {
    margin-left: 0.5rem!important;
  }
  .u-sm-marLeft-1 {
    margin-left: 1rem!important;
  }
}


 /* Medium Viewport */

 @media (--md-viewport) {

   .u-md-padLeft-1 {
     padding-left: 0.5rem!important;
   }

   .u-md-padLeft-2 {
     padding-left: 1rem!important;
   }
 }
