
@import "./css/base.css";
@import "suitcss";


/* Utilities */
@import "./css/u-text.css";
@import "./css/u-display.css";
@import "./css/u-spacing.css";

/**
 * Font Size
 */

/**
 *
 2.618em @ 16
39.063px
2.441em
2.441em @ 16
31.25px
1.953em
1.953em @ 16
25.888px
1.618em
1.618em @ 16
25px
1.563em
1.563em @ 16
20px
1.25em
1.25em @ 16
16px
1em
1em @ 16
12.8px
0.8em
0.8em @ 16
10.24px
0.64em
0.64em @ 16

 */

html {
  font-family: 'source sans pro';
}
body {
  line-height: 1.5;
  color: #444;
}

h2 {
  font-size: 1.618rem;
  font-weight: 600;
  line-height: 1.0786666667;
  margin-bottom: 1.5rem;
}

h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container--small {
  max-width: 45em;
}

.icon-med {
  max-width: 128px;
  width: 100%;
}



.MainHeader {
  height: 80px;
  border-bottom: 1px solid #CFD8DC;
}
.Logo {
  padding-top: 16px;
  height: 80px;
}

.Logo img {
  max-height: 48px;
  width: auto;
}

.MainNav a{
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.Button {
  border-radius: 4px;
}

.Button-trns {
  border: 1px solid transparent;
}

.Button-trns:hover {
  background-color: teal;
  color: #fff;
}


.ButtonRound {
  height: 56px;
  width: 56px;
  border-radius: 500px;
}

.Social .ButtonRound {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.img-r {
  max-width: 100%;
}
