
@import "./css/base.css";
@import "suitcss";


@import "./css/c-button.css";

/* Utilities */
@import "./css/u-text.css";
@import "./css/u-display.css";
@import "suitcss-utils-size";
@import "./css/u-spacing.css";

/**
 * Font Size
 */

/**
 *
 2.618em @ 16
39.063px
2.441em
2.441em @ 16
31.25px
1.953em
1.953em @ 16
25.888px
1.618em
1.618em @ 16
25px
1.563em
1.563em @ 16
20px
1.25em
1.25em @ 16
16px
1em
1em @ 16
12.8px
0.8em
0.8em @ 16
10.24px
0.64em
0.64em @ 16

 */

html {
  font-family: 'source sans pro';
  background-color: #f3f3f3;
}
body {
  line-height: 1.5;
  color: #444;
}

img {
  vertical-align: middle;
}


h2,
.beta {
  font-size: 1.618rem;
  font-weight: 600;
  line-height: 1.0786666667;
  margin-bottom: 1.5rem;
}

h3,
.zeta{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

h4,
.delta {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}


.mini {
  font-size: 0.64rem;
}

.u-textWeightBold {
  font-weight: 600;
}

.u-textWeightNormal {
  font-weight: 400;
}

.u-textWeightThin {
  font-weight: 300;
}


.container {
  max-width: 960px;
  margin: auto;
}

.container--small {
  max-width: 45em;
}

.icon-med {
  max-width: 128px;
  width: 100%;
}



.MainHeader {
  height: 96px;
  border-bottom: 1px solid #CFD8DC;
}
.Logo {
  padding-top: 16px;
  height: 96px;
}

.Logo img {
  max-height: 48px;
  width: auto;
}

.MainNav a{
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}


.Social .ButtonRound {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.img-r {
  max-width: 100%;
}


.u-borTop {
  border-top: 1px solid #CFD8DC;
}

.u-borBot {
  border-bottom: 1px solid #CFD8DC;
}
.u-borLeft {
  border-left: 1px solid #CFD8DC;
}

/* MORE  */
.Hero {
  height: calc(100vh - 96px);
  overflow: hidden;
  background-color: teal;
}

.MerchantThumb {
  margin: 0.25rem;
  border: 1px solid #eee;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
}

.MerchantThumb:before {
  content: "";
  position: absolute;
  background-color: red;
  width: 80%;
  height: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  transition: all 150ms ease;
  z-index: -1;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
}

.MerchantThumb:hover:before {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.45);
  transition: all 150ms ease;
}


.MerchantThumb-container {

}

.MerchantThumb-body {
}

.MerchantThumb-action {

}

.MerchantThumb.MarchantThumb--inline {
  margin: 0;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0.25rem
}

.MerchantThumb.MarchantThumb--inline .MerchantThumb-container{
  display: flex;
  align-items: center;
}

.MerchantThumb.MarchantThumb--inline .MerchantThumb-img {
  width: 96px;
}

.MerchantThumb.MarchantThumb--inline .MerchantThumb-action {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.bg-blue {
  background-color: #2196F3;
}

.u-textWhite {
  color: #fff;
}

.u-size206 {
  max-width: 206px;
}

.Card {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}



/* Voucher Stats Card */
.VoucherStatCard {
  position: relative;
  color: rgba(0, 0, 0, 0.85);;
}

.VoucherStatCard-body {
  position: relative;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
}

/* Shadow */
.VoucherStatCard-shadow {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  height: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-shadow: 0 0 50px 0 rgba(0,0,0,.5)
}
